 
 <div class="col-12">
 <div class="float-right">
 <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i>&nbsp; Guardar</button>
  <a asp-action="Index" asp-controller="Home" class="btn btn-primary"><i class="fas fa-home"></i>&nbsp; Inicio</a>                   
</div>                     
 </div>