

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="row">

<div class="col-md-10">
<h1 class="text-info">Nuevo Cliente</h1> 
</div>
<div class="col-md-2">
  <a  class="btn btn-info" asp-controller="Home" asp-action="ClientesListado" ><i class="fa fa-user-circle" ></i></a>
  <a  class="btn btn-info" asp-controller="Home" asp-action="Index" ><i class="fa fa-home" ></i></a>
</div>
</div>

 <form  asp-action="ClienteNuevoGuardar">   
<div class="row">
 
<div class="col-md-9">
<div class="form-group">
 <strong><label class="col-form-label">Nombre Completo</label></strong>
 <input class="form-control nombreCliente" type="text" name="Nombre" />

 </div> 

 <div class="form-group">
<strong> <label class="col-form-label">Direcciòn</label></strong>
<input class="form-control direccionCliente" type="text" name="Direccion"/>
</div>
</div>

<div class="col-md-3">
 <div class="form-group">
 <strong><label class="col-form-label">Celular/Telefono</label></strong>
 <input class="form-control celularCliente" type="text" name="Telefono"/>
 </div> 

 <div class="form-group">
<strong><label class="col-form-label">Edad</label></strong>
<input class="form-control edadCliente" type="text" name="Edad"/>
</div>
</div>

</div>
<div>

</div>

<div class="contenedor"> 

</div>
@*
<input type="submit" class="btn btn-success" value="Guardar" />*@

<a id="btnGuardarClienteNuevo" href="javascript:void(0);" class="btn btn-success">Guardar</a>

</form>
@section Scripts{

<script>  
  

   $("#btnGuardarClienteNuevo").click(function () {

   var Nombre = $(".nombreCliente").val();
    var Direccion = $(".direccionCliente").val();
    var Celular = $(".celularCliente").val();
    var Edad = $(".edadCliente").val();
  
    
         var xhr = $.ajax({
            url: "ClienteNuevoGuardar",
            type: "POST",
            data: {
               "Nombre": Nombre ,
               "Direccion": Direccion ,      
               "Telefono": Celular ,     
               "Edad": Edad    
            }
        });

        xhr.done(function (data) {

         Swal.fire({               
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 15000
                });

                setTimeout(function () {
                      location.href ="../Home/ClientesListado"
                },2000)

        });

        xhr.fail(function (data) {

        Swal.fire({
            icon: 'error',
           title: data.message          
        })

        });
    
  });  

</script>  



}



