
<H1>HOLA</H1>








@*
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="row">

<div class="col-md-10">
<h1 class="text-info">Nuevo Prestamo</h1> 
</div>
<div class="col-md-2">
  <a  class="btn btn-info" asp-controller="Home" asp-action="PrestamoListado" ><i class="fa fa-user-circle" ></i></a>
  <a  class="btn btn-info" asp-controller="Home" asp-action="Index" ><i class="fa fa-home" ></i></a>
</div>
</div>

 <form  asp-action="PrestamoNuevoGuardar">   
<div class="row">
 
<div class="col-md-9">
<div class="form-group">
 <strong><label class="col-form-label">Descripcion</label></strong>
 <input class="form-control descripcionPrestamo" type="text" name="Descripcion" />

 </div> 

 <div class="form-group">
<strong> <label class="col-form-label">Monto</label></strong>
<input class="form-control montoPrestamo" type="number" name="Monto"/>
</div>
</div>

<div class="col-md-3">
 <div class="form-group">
 <strong><label class="col-form-label">Interes</label></strong>
 <input class="form-control interesPrestamo" type="number" name="Interes"/>
 </div> 

 <div class="form-group">
<strong><label class="col-form-label">Cuota</label></strong>
<input class="form-control cuotaPrestamo" type="number" name="Cuota"/>
</div>

<input class="form-control" idClientePrestamo type="hidden" name="id" value="@Model.Id"/>

</div>

</div>
<div>

</div>


<a id="btnGuardarNuevoPrestamo" href="javascript:void(0);" class="btn btn-success">Guardar</a>
</form>
@section Scripts{
<script>  
  

   $("#btnGuardarNuevoPrestamo").click(function () {
  
       var Id= $(this).attr("data-id2");
   var Descripcion = $(".descripcionPrestamo").val();
    var Monto = $(".montoPrestamo").val();
    var Interes = $(".interesPrestamo").val();
    var Cuota = $(".cuotaPrestamo").val();
    var idcliente= $(".idClientePrestamo").val();

         var xhr = $.ajax({
            url: "PrestamoNuevoGuardar",
            type: "POST",
            data: {
              "Descripcion": Descripcion,
                "Monto": Monto,
                "Interes": Interes,
                "Cuota": Cuota,
                "ClienteId":Id 
            }
        });

        xhr.done(function (data) {
         Swal.fire({               
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 15000
                });

                setTimeout(function () {
                      location.href ="../Home/ClientesListado"
                },5000)

        });

        xhr.fail(function (data) {

        Swal.fire({
            icon: 'error',
           title: data.message          
        })

        });
    
  });  

</script>  

}
*@