@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">REGISTRO DE CONFIRMACIÓN</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"> Bienvenido</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

@*------------------------------------------------------------------------
                  TODO MI CONTENIDO DE MI PAGINA
----------------------------------------------------------------------*@

@{
    if (@Model.DisplayConfirmAccountLink)
    {

          <div>
           <span>
         Gracias por tu registro  <br>
        Abrí tu Cuenta Digital es tu mejor opcion 
        desde tu Banca en Línea sin tener que salir de tu casa.
        Ahorrá y ganá atractivos intereses.<br>
 <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aquí para confirmar tu registro</a>
 <br>
           </span>
                    <img src="/AdminLTE/image/registro.jpg"  height="400px" width="90%"/>  
                   </div>

<p>
       
 
 </p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}



   </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



